@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        Nombres
    </div>
    <div class="col">
        Apellidos
    </div>
    <div class="col">
        Correo
    </div>
   

</div>


    <div class="row">
        <div class="col">
            Nombres
        </div>
        <div class="col-6">
            Apellidos
        </div>
        <div class="col">
            Correo
        </div>
</div>
<h2>Ejemplo: Vertical</h2>
<p>En este Ejemplo utilizamos la clase col-sm-4 de Bootstrap para que en pantallas pequeñas las columnas se coloquen en filas </p>
<div class="row">
    <div class="col-sm-4">
        Casa
    </div>
     <div class="col-sm-4">
        Carro
    </div>
    <div class="col-sm-4">
        Jardín
    </div>

</div>