@{
    ViewData["Title"] = "Manejando Imágenes";
}
<h1>@ViewData["Title"]</h1>

<h4>Ejemplo 1: Imágenes en columnas</h4>
<div class="row gy-3">
    <div class="col-sm-3">
        <img class="img-fluid" src="https://i.postimg.cc/fTXXBQJh/paisaje-Volcan.jpg" />
    </div>
    <div class="col-sm-3">
        <img class="img-fluid" src="https://i.postimg.cc/fTXXBQJh/paisaje-Volcan.jpg" />
    </div>
    <div class="col-sm-3">
        <img class="img-fluid" src="https://i.postimg.cc/fTXXBQJh/paisaje-Volcan.jpg" />
    </div>
    <div class="col-sm-3">
        <img class="img-fluid" src="https://i.postimg.cc/fTXXBQJh/paisaje-Volcan.jpg" />
    </div>
</div>

<h4>Ejemplo 2: Imágenes tipo  thumbnail </h4>

<img class="img-thumbnail rounded-circle" 
src="https://i.postimg.cc/nVNvtY5Z/Papaen-Playa.jpg" />

